#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Skype
Comment=Skype Internet Telephony
Exec=/home/dino/work/nspawn-skype/nspawn-skype
Icon=/home/dino/work/nspawn-skype/skype.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;
X-KDE-Protocols=skype
